*{
    margin: 0%;
    padding: 0%;
}


body{
    background-image: url(https://images.unsplash.com/photo-1472983131032-23a243d662eb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c973e544e163ed5b121f1e30dd1ed7af&auto=format&fit=crop&w=753&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    padding: 40px;


}
header{
    background-color:  rgba(53, 211, 137, 0.555); /* Green */;
    box-shadow: 0 4px 4px rgba(1, 1, 1, .9);
    box-sizing: border-box;
    height: 110px;
    padding: 20px;
}
#titre{
font-size:3em;
position: relative;
top: 1em;
margin-left: 1cm;
}
#text1{
    position: relative;
    margin: auto;
    top: 80px;
    font-family:'Times New Roman', Times, serif
 }
 .button{
        background-color:rgba(53, 211, 137, 0);
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: n;
        display: inline-block;
        font-size: 19px;
    }
     
    
 
 .mystyle {
    font-weight:bold;
}
.mystyle1 {
    font-style: italic;

}
.mystyle3{
    text-decoration: underline;
}
#mySelect{
    width: 12em;
    font-size: 20px;
    background-color:rgba(53, 211, 137, 0);
    color: #f1f1f1;
    border: solid 2px ;
    margin-left: 1cm
}
#mySelect2{
      width: 12em;
    font-size: 20px;
    background-color:rgba(53, 211, 137, 0);
    color: #f1f1f1;
    border: solid 2px;
margin-left: 2cm;
}
.button:hover{
    background-color:rgba(53, 211, 137, 0)
}